@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap");

* {
  font-family: "Hind", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding-bottom: 60px;
  border-radius: 15px;
}
.pbar {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 1px;
}

.container form {
  margin-top: 40px;
  width: 600px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 10 15px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}
.container form .inputBox {
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 4px;
  color: black;
  width: 100%;
  border-bottom: 3px solid #ff9d60;
  margin-bottom: 10px;
}

#cardNumber {
  margin-bottom: 10px;
}

#btnValidate {
  width: 200px;
  height: 40px;
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(171, 102, 255, 1) 0%,
    rgba(116, 182, 247, 1) 90%
  );
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 25px;
}
.cardContainer {
  position: relative;
  width: 400px;
  height: 240px;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, blueviolet, deeppink);
  margin-top: 20px;
  border-radius: 20px;
  backface-visibility: hidden;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "chip . ."
    "user-data user-data user-data"
    ". . card-brand";
}
.chip {
  grid-area: chip;
}
.user-data {
  grid-area: user-data;
}
.card-brand {
  grid-area: card-brand;
  margin-bottom: 15px;
  margin-right: 15px;
}

#card-chip {
  position: absolute;
  width: 50px;
  height: 40px;
  margin-top: 15px;
  margin-left: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1200' height='800' preserveAspectRatio='none' viewBox='0 0 1200 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1017%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c129 C 120%2c160.2 360%2c294.4 600%2c285 C 840%2c275.6 1080%2c122.6 1200%2c82L1200 800L0 800z' fill='rgba(250%2c 130%2c 141%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c796 C 80%2c748.8 240%2c569.8 400%2c560 C 560%2c550.2 640%2c772 800%2c747 C 960%2c722 1120%2c497.4 1200%2c435L1200 800L0 800z' fill='rgba(255%2c 186%2c 143%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1017'%3e%3crect width='1200' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 999;
  border-radius: 10px;
}

#modalSuccess {
  border: 5px solid #008000;
}

#modalError {
  border: 5px solid #ff0000;
}
.icons {
  display: flex;
  margin-left: 40%;
  margin-bottom: 10px;
}
.closebtn {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  padding-right: 5px;
  padding-left: 5px;
  color: #000;
  font-size: 20px;
  border: #8f8f8f solid 2px;
  border-radius: 5px;
}
#card-number-display {
  font-family: kredit;
}
#card-name-display {
  font-family: kredit;
}
.kredit {
  font-size: 20px;
  font-family: kredit;
  color: #d8d8d8;
  font-weight: 500;
  margin-bottom: 10px;
  display: grid;
  justify-content: left;
  margin-left: 30px;
}
