@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

* {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffc3c3;
  flex-flow: column;
  padding-bottom: 60px;
  border-radius: 15px;
}
.container form {
  margin-top: 40px;
  width: 600px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 10 15px rgba(0, 0, 0, 0.1);
}
.container form .inputBox {
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 4px;
  color: black;
  width: 100%;
  border-bottom: 2px solid #a0dde0;
  border-radius: 5px;
}
#cardNumber {
  margin-bottom: 10px;
}
#btnValidate {
  width: 200px;
  height: 40px;
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(171, 102, 255, 1) 0%,
    rgba(116, 182, 247, 1) 90%
  );
  border: 1px solid #ffc3c3;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}
.cardContainer {
  position: relative;
  width: 400px;
  height: 240px;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, blueviolet, deeppink);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 20px;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.4s ease-out;
}
#cardChip {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
